body {
 margin: 0;
}

.wrapper {
 height: 100vh;
 background: url(./design.jpg);
 background-size: cover;
 }

 .description, .title {
font-family: "Roboto";
font-weight: 400;
color: white;
text-align: center;
}
