body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1920px;
}

.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.menu {
  display: inline-block;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}
.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}
.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}
.menu__item_active:hover::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:last-child {
  margin-right: 0;
}
.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: 24px/32px pt_serifbold, arial, helvetica, sans-serif;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  opacity: 0.7;
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}
.logo__circle_color_dark-blue {
  background: #0056ec;
}
.main {
  padding-right: 63%;
  background: url("Frame/Frame\ (1).svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 60% 90%;
}
.main {
  padding-right: 63%;
  background: top right no repeat url("Frame/Frame\ (1).svg");
}
.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/65px pt_serif, arial, helvetica, sans-serif;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
.main__subtitle {
  margin: 0 0 41px 0;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
  }

.main__button:hover {
  opacity: 0.5;
  background: #00ad9f;
  color: #000;
}



@media (max-width: 768px) {
 .menu {
   display: none;
 }

 .header {
   margin-bottom: 28px;
 }

 .main {
   text-align: center;
   padding: 74% 0 0;
   background-size: 74%;
   background-position: top center;
 }

 .main__title {
   margin-bottom: 44px;
   font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
 }

 .main__subtitle {
   margin-bottom: 25px;
   font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
 }

 .main__button {
   font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
 }
}


@media screen and (max-width: 1700px) {
	body {
		font-size: 14px;
	}

	.content__title {
		font-size: 50px;
		margin: 2rem 0;
	}

	.content__descr{
		font-size: 18px;
	}
}

@media screen and (max-width: 1400px) {
	.main__picture {
		width: 65%;
	}
	.container {
		width: 	95%;
	}

	.main__content {
	}
}

@media screen and (max-width: 1000px) {
	body {
	}

	.content__title {
		font-size: 30px;
		margin: 2rem 0;
	}

	.content__descr{
		font-size: 16px;
	}
}

@media screen and (max-width: 1024px) {
	.cotent__btn:hover,
	.content__btn:active,
	.content__btn:focus {
		background: #0056EC;
		color: #fff;
		box-shadow: 0 0 0 #fff;
	}

	.content__btn:active {
		transform: scale(.98);
	}
}

@media screen and (max-width: 1024px) and
				(orientation: portrait) {
	.main {
		flex-direction: column-reverse;
	}
	.main__picture {
		height: 40vh;
		margin: 0 auto;
	}
	.main__content{
		margin: 0 auto;
		text-align: center;
	}
	.content__descr{
		width: 55%;
		text-align: center;
		margin: 3rem auto;
	}
	.links__item {
		font-size: 16px;
	}
}

@media screen and (max-width: 950px) {
	.main {
	}
	.main__picture {
		margin: 0 auto;
	}
	.main__content{
		margin: 0 auto;
		text-align: center;
	}
	.content__descr{
		width: 55%;
		text-align: center;
		margin: 2rem auto;
	}
	.slider__right:hover,
	.slider__left:hover{
		background: #fff;
	}

}

@media screen and (max-width: 630px) and
				 (orientation: portrait) {
	.main__picture{
		height: 26vh;
	}
}


@media screen and (max-width: 630px) {
	.nav__links {
		display: none;
		opacity: 0;
	}

	.nav__burger {
		display: block;
		z-index: 4;
	}

	.nav__burger.active > .burger__line {
		display: none;
	}

	.active.nav__burger::before {
		transform: rotate(45deg);
		top: 7px;
	}

	.active.nav__burger::after {
		transform: rotate(-45deg);
		bottom: 7px;
	}

	.nav__burger:hover {
		cursor: pointer;
	}
	.header::after {
		 content: '';
		 height: 100vh;
		 width: 100%;
		 position: absolute;
		 left: 0;
		 background: #fff;
		 z-index: 3;
		 top: -100vh;
		 transition: .3s ease;
	}

	.active.header::after {
		 top: 0;
	}

	.nav__links.active {
		z-index: 10;
		flex-direction: column;
		display: flex;
		position: absolute;
		width: 100vw;
		height: 70vh;
		align-items: center;
		justify-content: space-around;
		top: 15vh;
		left: 0;
		opacity: 1;
		animation: opacity 1s;
	}

	.nav__links.active > .links__item {
		font-size: 30px;

	}
}

@media screen and (max-height: 550px) {
	.header {
		margin: 20px 0 0 0;
	}
	.content__btn {
	    width: 201px;
	    height: 40px;
	    background: #0056EC;
	    border-radius: 4px;
	    font-size: 12px;
	}
}

@media screen and (max-width: 376px) {
	.content__descr{
		margin: 1rem auto;
	}
	.content__title{
		margin: 1rem auto;
	}
	.header {
    	margin: 30px 0 20px 0;
	}
	.main__picture {
    	height: 30vh;
	}
}

@media screen and (max-width: 320px) {
	.content__title{
		font-size: 20px;
		margin: .6rem auto;
	}
	.content__descr{
		font-size: 14px;
		margin: .6rem auto;
	}
	.content__btn {
	    width: 201px;
	    height: 40px;
	    background: #0056EC;
	    border-radius: 4px;
	    font-size: 12px;
	}
}

@media screen and (max-height: 375px) {
	.slider {
		bottom: 0;
	}
	.content__title,
	.content__descr {
		margin: 10px auto;
	}
}

@media screen and (max-height: 330px) {
	.slider {
		bottom: -15px;
	}
	.header{
		margin-top: 5px;
	}
	.content__title{
		font-size: 24px;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
